%h1 Listing movements

%table
  %tr
    %th Ammount
    %th Proyect
    %th
    %th
    %th

  - @movements.each do |movement|
    %tr
      %td= movement.ammount
      %td= movement.proyect_id
      %td= link_to 'Show', movement
      %td= link_to 'Edit', edit_movement_path(movement)
      %td= link_to 'Destroy', movement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Movement', new_movement_path
