=render('layouts/header')
.container
  .row
    =render('layouts/menu')
    .col-md-9
      .page-header
        .row
          .col-md-10
            %h1 Movimientos

      %table.table-condensed{'width' => '100%' }
        %tr
          %th Proyecto
          %th Monto Total
          
        - @movements.each do |movement|
          %tr
            %td= movement.ammount
            %td= movement.proyect_id.name
            %td= link_to 'Show', movement
            %td= link_to 'Edit', edit_movement_path(movement)
            %td= link_to 'Destroy', movement, :method => :delete, :data => { :confirm => 'Are you sure?' }
