=render('layouts/header')
.container
  %h3 Listing proyects

  %table.table.table-bordered
    %tr
      %th Name
      %th Country
      %th
      %th
      %th

    - @proyects.each do |proyect|
      %tr
        %td= proyect.name
        %td= proyect.country
        %td= link_to 'Show', proyect
        %td= link_to 'Edit', edit_proyect_path(proyect)
        %td= link_to 'Destroy', proyect, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Proyect', new_proyect_path
