= simple_form_for ([@project, @activity]) do |f|
  .modal-body
    = f.error_notification

    = f.input :title
    = f.input :description

  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
    = f.button :submit, "Guardar Actividad", class: 'btn btn-primary'
