= simple_form_for @activity, :url => proyect_activities_path do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :proyect_id

  .form-actions
    = f.button :submit
