=render('layouts/header')
.container
  %h3 Listing activities

  %table.table.table-bordered
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

    - @activities.each do |activity|
      %tr
        %td= activity.title
        %td= activity.description
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Activity', new_proyect_activity_path
